@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background-color: rgb(15, 20, 26);
  color: white;
  /*scroll-behavior: smooth;*/
  /*overflow-y: scroll;*/
  backdrop-filter: blur(3021300px);
  ::-webkit-scrollbar {
    display: none;
  }
}
/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

main article {
  width: 70%;
}
@media (max-width: 1366px) {
  main article {
    width: 95%;
  }
}
@media (min-width: 992px) {
  main article {
    min-height: 100vh;
  }
}
@media (max-width: 992px) {
  main article {
    min-height: 100vh;
  }
  p {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  p {
    line-height: 1.5rem !important;
  }
}

.dev {
  view-transition-name: dev;
}

.zoom {
  zoom: 75%;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
